.dashboard-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;

  &__list {
    margin-top: 16px !important;
  }
}
